# This .env use for docker compose environment variables
# The variables same as .env file at backend folder
# -----------------------------------------------------------------------------
# MinIO Credentials
# -----------------------------------------------------------------------------
MINIO_ROOT_USER=xxx
MINIO_ROOT_PASSWORD=xxxx

# -----------------------------------------------------------------------------
# PostgreSQL Credentials
# -----------------------------------------------------------------------------
DB_USER=insightocr_user
DB_PASSWORD=xxxx

# -----------------------------------------------------------------------------
# Redis Password
# -----------------------------------------------------------------------------
REDIS_PASSWORD=xxxx
