fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
requests
aiofiles
python-dotenv
redis
celery
minio
pypdf
openai
tiktoken
Pillow
email-validator
boto3
